<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\internallog.txt">
	<targets>
		<target xsi:type="AzureBlobStorage"
				name="error"
				blobName="log-${shortdate}.json"
				container="blobtest"
				connectionString="DefaultEndpointsProtocol=https;AccountName=sandboxstorage2024;AccountKey=PB7qAQ1tVhytz6udMD4XDBNk6FiIs33SsvN325cL/1VsDu1Rg6SMxvZUN53T6hqlOAd8rvDW+XEA+AStg09ybQ==;EndpointSuffix=core.windows.net">
			<layout type='CompoundLayout'>
				<layout xsi:type="JsonLayout" includeAllProperties="true">
					<attribute name="time" layout="${longdate}" />
					<attribute name="level" layout="${level:upperCase=true}"/>
					<attribute name="message" layout="${message}" />					
					<attribute name="action" layout="${aspnet-mvc-action}" />
					<attribute name="action" layout="${aspnet-mvc-controller}" />					
					<attribute name="type" layout="${exception:format=type}" />				
					<attribute name="stacktrace" layout="${exception:format=tostring}" />
				</layout>
				<layout type='SimpleLayout' text="," />
			</layout>
		</target>
	</targets>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<!--AzureStorage extension-->
		<add assembly="NLog.Extensions.AzureStorage" />
	</extensions>
	<rules>
		<logger name="*" level="Error" writeTo="error" />
		<logger name="*" level="Info" writeTo="error" />
		<logger name="*" level="Debug" writeTo="error" />
		<logger name="*" level="Warn" writeTo="error" />
		<logger name="*" minlevel="Info" writeTo="error" />
	</rules>
</nlog>